{{ define "main" }}

<div class="grid-four-col">
    <div class="two-four bottom-padding-medium top-padding-small intro-block">
      <p class="bottom-padding-large">
        Tama Pugsley<br>
        <a href="mailto:tama@tama.co.nz" class="no-underline">tama@tama.co.nz</a>
      </p>
      <h2 class="bottom-padding-large-small-screen">Product-focused technical leadership from Aotearoa New Zealand</h2>
      
      <p>For over two decades I've been designing, building, and scaling award-winning digital products and services used by people all over the world. I've worked in digital agencies, start-ups, non-profits and large corporations building websites, payment systems, apps, geospatial sofware and complex enterprise solutions.
      <p>I believe great software and strong cultures are built by collaborative, empathetic, and multidisciplinary teams who stay closely connected to customer challenges and business opportunities.</p>
      <p>Outside work I can be found hiking and biking with friends and family in Aotearoa's incredible wilderness.</p>

    </div>
    <div class="four-five"></div>
  </div>

  <div class="grid-wrapper border-top" style="background: #102230;">
    <div class="grid-four-col">
          <div class="one-two top-padding-medium block-title white">
            <p class="half-opacity">
                <a href="https://www.starboard.nz/" target="_blank" class="no-underline">Starboard</a><br>
                Chief Technology Officer<br>
                2019 — 2025<br>
            </p>
          </div>
          <div class="two-four padding-medium white">
             <p><a href="https://www.starboard.nz/" target="_blank">Starboard</a> is world-leading maritime domain awareness software. It helps governments and organisations combat illegal fishing, prevent transnational crime, and protect offshore assets.</p>
              <p>It’s a complex, high-performing geospatial platform that elegantly integrates 30+ data sources and ~7,000 streaming data points per second, providing a real-time view of activity across the world’s oceans.</p>
              <p>As Chief Technology Officer, I played a key role in product development, creating the engineering team and culture, and ensuring the Starboard platform remained secure and reliable. We had an incredible team with a close-knit, high-performing culture, consistently shipping software our customers love and rely on daily.</p>
              <p class="u__mb--0">Winners at the <a href="https://www.hitech.org.nz/awards/winners/year/2024" target="_blank">2024 New Zealand High Tech Awards</a> for:</p>
              <ul class="u__mt--0">
                <li>Most Innovative Hi-Tech Software Solution</li>
                <li>Hi-Tech Startup Company of the Year</li>
              </ul>
            <div class="logo logo-starboard">
              <a href="https://www.starboard.nz/" target="_blank" class="no-underline"><img src="/images/starboard-logo.svg" alt="Starboard logo"></a>
            </div>
          </div>
          <div class="one-five image padding-medium">
            <img src="/images/starboard-app-dark-bg.png" alt="Example screenshot from the Starboard app">
          </div>
          <div class="four-five"></div>
    </div>
  </div>

  <div class="grid-four-col spacer-row">
      <div class="one-two"></div>
      <div class="two-four"></div>
      <div class="four-five"></div>
  </div>

<div class="grid-wrapper" style="background: #E8404D;">
  <div class="grid-four-col">
    <div class="one-two top-padding-medium white block-title">
      <p class="half-opacity">
        <a href="https://www.goodworld.me/" target="_blank" class="no-underline">Goodworld</a><br>
        Chief Technology Officer<br>
        2016 — 2019<br>
    </p>
    </div>

    <div class="two-four padding-medium white">
      <p>Goodworld is an innovative fundraising platform for non-profits, originally launched as the world’s first technology enabling donations via hashtags on social media.</p>
      <p>It’s a sophisticated system that integrates APIs from social media platforms, payment gateways, and other services, enabling non-profits to seamlessly raise funds from their supporters.</p>
      <p>As a founding team member, I led the engineering team and built the product from the ground up, shaping its development from inception.</p>
       <div class="logo logo-goodworld">
        <a href="https://www.goodworld.me/" target="_blank"><img src="/images/goodworld-logo.svg" alt="Goodworld logo"></a>
       </div>
    </div>
    <div class="one-five image padding-medium">
      <img src="/images/goodworld.png" alt="Example screenshot from the Goodworld app">
    </div>
  </div>
</div>

  <div class="grid-four-col spacer-row">
      <div class="one-two"></div>
      <div class="two-four"></div>
      <div class="four-five"></div>
  </div>

  <div class="grid-wrapper" style="background: #fff;">
    <div class="grid-four-col">
      <div class="one-two top-padding-medium dark block-title">
        <p class="half-opacity">
          <a href="https://atomic.io/" target="_blank" class="no-underline">Atomic</a><br>
          Senior Software Engineer<br>
          2014 — 2016</p>
      </div>
      <div class="two-four padding-medium">
        <p>Atomic was an advanced web-based design and prototyping tool.</p>
        <p>As a Senior Software Engineer and one of the original team members, I was involved in building the core drawing and animation tools that powered the app.</p>
        <p>Notable work included developing the client and server components of a Git-like history feature, enabling real-time fast-forwarding and rewinding of design changes.</p>
        <div class="logo logo-atomic">
          <a href="https://atomic.io/" target="_blank"><img src="/images/atomic-logo.svg" alt="Atomic logo"></a>
        </div>
      </div>
      <div class="one-five image padding-medium">
        <img src="/images/atomic-screen.png" alt="Example screenshot from the Atomic app">
      </div>
    </div>
  </div>

<div class="grid-four-col last">
  <div class="two-four padding-medium">
    <div style="margin-top: 1vw; width: 100%; text-align: center;"><img src="/images/tama-headshot.png" alt="" class="" style="max-width: 80px;"></div>
    <p style="text-align: center;">Detailed work history can be found on <a href="https://www.linkedin.com/in/tamap/" class="no-underline" target="_blank">LinkedIn</a>.</p>
    </div>
</div>
{{ end }} 